aws_region = "us-east-1"

project_name = "nexops"
environment  = "dev"

# CloudWatch/SNS alert email
alert_email = "YOUR_EMAIL@example.com"

# EEMS Docker Hub release
backend_image  = "cloudwithnitesh/nexops-backend:1.0.0"
frontend_image = "cloudwithnitesh/nexops-frontend:1.0.0"

# RDS PostgreSQL
db_name     = "nexops"
db_username = "nexopsadmin"

# Optional custom domain.
# Leave empty until you own the domain.
# If your GoDaddy domain is nitesh.shop, use:
# route53_zone_name = "nitesh.shop"
# domain_name       = "nitesh.shop"
route53_zone_name = ""
domain_name       = ""
